.banner {
    background-color: rgb(16, 78, 139);
    width: 100%;
    height: 100px;
    margin-bottom: 50px;
}

.banner-text {
    top: 10%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    color: white;
}